.navigation>nav>ul {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
}

.nav-link {
    color: white;
}

.nav-link.active {
    background-color: black;
}

.nav-link:hover,
.nav-link:active a {
    background-color: black;
    color: white;
}